{% load staticfiles %}
<!DOCTYPE html>
<head>
	<title>HEY</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="{% static 'siteApp/lib/platform-twitter.min.js'%}"></script>
	<script src="{% static 'siteApp/lib/jquery-1.11.3.min.js'%}"></script>
	<script src="{% static 'siteApp/lib/underscore.min.js'%}"></script>
	<script src="{% static 'siteApp/lib/backbone.min.js'%}"></script>
	<script src="{% static 'siteApp/lib/marionette.min.js'%}"></script>

	<script src="{% static 'siteApp/js/main-app-layout.js'%}"></script>
	<script src="{% static 'siteApp/js/main-page-layout.js'%}"></script>
	<script src="{% static 'siteApp/js/cs-layout.js'%}"></script>
	<script src="{% static 'siteApp/js/writing-layout.js'%}"></script>
	<script src="{% static 'siteApp/js/music-layout.js'%}"></script>

	<link rel="stylesheet" href="{% static 'siteApp/css/style.css'%}">
	
</head>
<body>
	<h2 class="text-center">HEY!</h2>
	<div id="MainRegion"></div>
	<script type="text/template" id="template-MainAppLayoutView">
		<h2>HEY THIS IS MY SITE</h2>
		<h5>my site it's my site it's my site.</h5>

		<div id="SideNavigation">
			<div>
				<a href="#home">Home</a>
			</div>
			<div>
				<a href="#computerstuff">Computer Stuff</a>
			</div>
			<div>
				<a href="#writingstuff">Writing Stuff</a>
			</div>
			<div>
				<a href="#musicreviews">Music Reviews</a>
			</div>
		</div>
		<div id="MainContentRegion"></div>
	</script>
	<script type="text/template" id="template-MainPageLayout">
		<h3>Main Page</h3>
	</script>
	<script type="text/template" id="template-CSLayout">
		<h3>Computer Science</h3>
	</script>
	<script type="text/template" id="template-WritingLayout">
		<h3>Writing and Comedy</h3>
		<a class="twitter-timeline" href="https://twitter.com/tinyducks" data-widget-id="640729652898701312" data-chrome="nofooter">Tweets by @tinyducks</a>
	</script>
	<script type="text/template" id="template-MusicLayout">
		<h3>Music Reviews</h3>
		<div>
			<p>recently listened</p>
			<img src="http://www.tapmusic.net/lastfm/collage.php?user=funkjams84&type=7day&size=2x8">
		</div>
	</script>
	<script>
		var FJApp = FJApp || new Marionette.Application();
		FJApp.addRegions({
			MainRegion: "#MainRegion"
		})
		FJApp.on('start', function(){
			Backbone.history.start();
		});
		FJApp.module('FJAppMainModule', function(module, App, Backbone, Marionette, $, _){
			module.addInitializer(function(){
				var mainAppLayoutView = new module.MainAppLayoutView({"foo": "bar"});
				App.MainRegion.show(mainAppLayoutView);
			});
		});
		FJApp.start();
	</script>
	<footer>
		<div id="footerContactInfo">
			<p>contact information: </p>
				<li>Email: </li>
				<li>Github: </li>
				<li>LinkedIn: </li>
		</div>
		<div id="footerNotes">
			<p>personal statement goes here! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet est sit amet felis sollicitudin, sit amet accumsan libero ultricies. Cras ultrices mauris eu nunc egestas sollicitudin. Sed bibendum in lectus vel ultricies. Proin dictum erat id lectus luctus feugiat. Maecenas quis porttitor purus, at tempor elit. Integer ac congue metus. Fusce ut tincidunt diam, vel semper ipsum. Donec tortor leo, venenatis sed ligula vitae, lacinia pulvinar ligula. </p>
			<p>-Frank, 2015</p>
		</div>
	</footer>
</body>
</html>